* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(51, 51, 51);
    --main-color: #2a2a2a;
    --sec-color: #4e4e4e;
    --bg1-color: #333333;
    --bg2-color: #2a2a2a;
    --text-color: #ffffff;
    --btn-color: #3c3c3c;
    --border-radius: 8px;
}
::selection {
    background-color: #1a1a1a;
    color: var(--text-color);
}
/* nav */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #0000004c;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;

    .icon {
        font-size: 20px;

        >h1 {
            font-weight: bolder;
        }
    }

    .list {
        display: flex;
        list-style: none;

        .li {
            position: relative;
            margin: 0 5px;
            padding: 10px;
            transition: all 0.2s ease-in-out;

            &:hover {
                scale: 1.3;
                /* background: linear-gradient(#00000013, #00000030); */
            }

            >a {
                font-size: 16px !important;
                text-decoration: none;
                color: var(--text-color);
                font-weight: 100;
            }
        }

        .li::before {
            content: "";
            position: absolute;
            display: block;
            opacity: 0;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            width: 10%;
            height: 2px;
            border-radius: 2px;
            background-color: var(--text-color);
            margin-right: 5px;
            transition: all 0.3s ease-in-out;
        }

        .li:hover::before {
            content: "";
            position: absolute;
            display: block;
            opacity: 1;
            bottom: -3px;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 2px;
            border-radius: 2px;
            background-color: var(--text-color);
            margin-right: 5px;
        }
    }

    .fa-bars {
        display: none !important;
    }
}

@media (width < 560px) {
    nav {
        flex-direction: column;
        transition: all 0.5s ease-in-out;

        .list {
            transition: all 0.5s ease-in-out;
            display: none;
            flex-direction: column;

            .li {
                margin: 5px 0;
                padding: 10px 100vw;

                &:hover::before {
                    display: none;
                }

                &::before {
                    display: none;
                }

                &:hover {
                    background: #00000030;
                }
            }
        }

        .fa-bars {
            display: block !important;
            position: fixed;
            scale: 1.3;
            top: 20px;
            right: 20px;
        }
    }
}

/* start */
main {
    .start {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 30px;
        height: 100vh;

        .profile {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            width: 40%;
            min-height: 600px;
            border-radius: var(--border-radius);
            background: var(--bg2-color);

            .photo {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 28vw;
                height: auto;
                max-width: 418px;
                max-height: 418px;
                min-width: 200px;
                min-height: 200px;
                border-radius: var(--border-radius);
                background: var(--bg2-color);

                .img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }

            .texts {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                align-items: center;
                border-radius: var(--border-radius);
                color: var(--text-color);

                >h2 {
                    font-size: 30px;
                    font-weight: bolder;
                    margin-top: 10px;
                    margin-bottom: 10px;

                    .typed {
                        text-transform: capitalize;
                        font-size: 26px;
                        font-weight: bolder;
                        color: rgb(0, 250, 254);
                    }
                }

                .p {
                    max-width: 90%;
                    font-size: 20px;
                    font-weight: 300;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
        }

        .acounts {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            text-align: center;
            align-items: center;
            width: 40%;
            height: 600px;
            border-radius: var(--border-radius);
            background: var(--bg2-color);
            transition: all 0.7s ease-in-out;

            >a {
                opacity: 0.8;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 90%;
                height: 60px;
                border-radius: var(--border-radius);
                background: rgb(60, 60, 60);
                color: var(--text-color);
                text-decoration: none;
                margin-top: 10px;
                transition: all 2s ease-in-out;
                position: relative;
                overflow: hidden;
                >i {
                    margin-right: 7px;
                }

                &:first-of-type {
                    margin-top: 25px;
                }
            }

            .h2 {
                font-size: 30px;
                font-weight: bolder;
                margin-top: 10px;
                margin-bottom: 10px;
                color: var(--text-color);
            }

        }
    }
}

@media (width < 1010px) {
    main {
        margin-top: 150px;

        .start {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin-top: 100px;

            .profile {
                margin-top: 250px;
                margin-bottom: 60px;
            }

            .profile,
            .acounts {
                min-height: 500px;
                width: 80%;
                max-width: 700px;
            }
        }
    }
}
.github::before,
.facebook::before,
.instagram::before,
.twitter::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease-in-out;
    z-index: -1;
    opacity: 0;
}


.github:hover::before {
    opacity: 1;
    background-image: radial-gradient(circle, #010409 0%, #0d1117 50%) !important;
}

.facebook:hover::before {
    opacity: 1;
    background-image: linear-gradient(135deg, #0866ff 0%, #242526 100%) !important;
}

.instagram:hover::before {
    opacity: 1;
    background: #833ab4 !important;
    background: linear-gradient(to right,#833ab4, #fd1d1d, #fcb045) !important;
}

.twitter:hover::before {
    opacity: 1;
    background-image: radial-gradient(circle, #000 0%, #000 10%) !important;
}

/* about */
